{
    "debug": false,
    "dataGraphQLClient": {
        "httpEndpoint": "https://eddy-automl-backend.k.eddy-analytics.org/api/graphql",
        "wsEndpoint": "wss://eddy-automl-subscriptions.k.eddy-analytics.org/subscriptions"
    }
}
